@use "sass:map";

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --blue-900: hsl(240, 38%, 20%);
  --blue-100: hsl(240, 18%, 77%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: var(--blue-900);
}

button {
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;

  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;

  opacity: 0;
  pointer-events: none;
}

.main {
  display: grid;
  align-items: start;

  min-height: 100vh;
  padding: 2.4rem 3.2rem;

  background: url(/images/pattern-curve.svg) no-repeat left -2.4rem bottom -2.4rem;
  background-size: contain;
}

.testimonials-container {
  --num-testimonials: 2;
  --slider-index: 0;

  position: relative;

  display: grid;
  grid-template-columns: repeat(var(--num-testimonials), 100%);
  align-items: start;

  overflow-x: hidden;
}

.article-testimonial {
  display: grid;
  justify-items: center;
  align-items: start;
  row-gap: 5.4rem;

  $slider-index-img-map: (
    0: "tanya",
    1: "john",
  );

  @each $slider-index, $img-name in $slider-index-img-map {
    &:nth-of-type(#{$slider-index + 1}) {
      --img-url: url("/images/image-#{$img-name}.jpg");

      transform: translateX(calc(var(--slider-index) * -100%));
    }
  }

  transition: transform 0.3s;

  &__quote {
    margin-bottom: 1.8rem;

    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
  }
}

.testimonial-img-box {
  max-width: 32rem;
  width: 100%;
  aspect-ratio: 1;
  padding: 3rem;

  background: url(/images/pattern-bg.svg) no-repeat center top;
  background-size: contain;

  &::after {
    display: block;
    height: 100%;
    border-radius: 0.6rem;
    content: "";

    background: var(--img-url) no-repeat top center;
    background-size: cover;
    box-shadow: 0 1.2rem 2.4rem 2px rgba(0, 0, 0, 0.2);
  }
}

.testimonial-text-box {
  position: relative;

  display: flex;
  flex-direction: column-reverse;

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -2.8rem);

    display: block;
    content: "";
    max-width: 6.4rem;
    width: 100%;
    aspect-ratio: 1;

    background: url(/images/pattern-quotes.svg) no-repeat top center;
    background-size: contain;
  }
}

.author-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__name {
    font-weight: 700;
    color: var(--blue-900);
  }

  &__job {
    font-weight: 500;
    color: var(--blue-100);
  }
}

.slider-buttons-box {
  position: absolute;

  // temp
  top: 26.5rem;
  left: 11.8rem;

  display: flex;
  border-radius: 1000px;
  box-shadow: 0 0 1.8rem 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.slider-btn {
  display: grid;
  place-content: center;

  padding: 1.2rem 1.6rem;
  background-color: var(--white);

  @mixin slider-icon($name) {
    --icon-url: url("/images/icon-#{$name}.svg");
  }

  &::before {
    display: block;
    content: "";
    width: 0.8rem;
    aspect-ratio: 13 / 18;

    background: var(--icon-url) no-repeat center;
    background-size: contain;
  }

  &:hover {
    // background-color: rgba(200, 100, 50, 0.5);
  }

  &--left {
    @include slider-icon("prev");
  }

  &--right {
    @include slider-icon("next");
  }
}
