@use "sass:map";

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --blue-900: hsl(240, 38%, 20%);
  --blue-100: hsl(240, 18%, 77%);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 3.2rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: var(--blue-900);
}

button {
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;

  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;

  opacity: 0;
  pointer-events: none;
}

.main {
  display: grid;
  place-content: center;

  min-height: 100vh;
}

.testimonials-container {
  --num-testimonials: 2;
  --slider-index: 0;

  position: relative;

  display: grid;
  grid-template-columns: repeat(var(--num-testimonials), 100%);

  overflow-x: hidden;
}

.article-testimonial {
  display: grid;
  justify-items: center;
  row-gap: 0rem;

  $slider-index-img-map: (
    0: "tanya",
    1: "john",
  );

  @each $slider-index, $img-name in $slider-index-img-map {
    &:nth-of-type(#{$slider-index + 1}) {
      --img-url: url("/images/image-#{$img-name}.jpg");

      transform: translateX(calc(var(--slider-index) * -100%));
    }
  }

  transition: transform 0.3s;

  &::before {
    display: block;
    max-width: 32rem;
    aspect-ratio: 1;
    width: 100%;
    content: "";

    background: var(--img-url) no-repeat top center;
    background-size: cover;
  }
}

.slider-buttons-box {
  position: absolute;
  display: block;
}
