* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  line-height: 1;
}

ul {
  list-style: none;
}

button {
  display: inline-block;
  cursor: pointer;
  border: none;
  background: none;
}

img {
  display: block;
}

$GradientStart: hsl(6, 100%, 80%);
$GradientEnd: hsl(335, 100%, 65%);
$PaleBlue: hsl(243, 100%, 93%);
$GrayishBlue: hsl(229, 7%, 55%);
$DarkBlue: hsl(228, 56%, 26%);
$VeryDarkBlue: hsl(229, 57%, 11%);

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

%card {
  border-radius: 6px;
  background-color: $DarkBlue;
}

body {
  background-color: $VeryDarkBlue;
  background-image: url(images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.8rem;

  min-height: 100vh;
  padding-inline: 2.4rem;
}

.header-main {
  @extend %card;
  padding: 4rem 4.2rem;
  border-top-right-radius: 10rem;
}

.logo {
  margin-bottom: 3.2rem;
}

.actions-list {
  display: flex;
  gap: 1.6rem;
}

.btn-action {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 4.8rem;
  height: 4.8rem;

  padding: 0.8rem;
  border-radius: 0.8rem;
  background-color: $VeryDarkBlue;

  img {
    width: auto;
    height: auto;
  }
}

.section-data-stats {
  position: relative;

  @extend %card;
  padding: 3.2rem 3.6rem;
  margin-bottom: 13.4rem;
}

.header-data-stats {
  margin-bottom: 1.8rem;
  text-align: center;

  &__title {
    font-size: 1.3rem;
    letter-spacing: 0.2px;
    color: $GrayishBlue;

    .gb {
      color: $PaleBlue;
    }
  }
}

.data-bar-box,
.data-bar {
  border-radius: 1000px;
}

.data-bar-box {
  margin-bottom: 1.4rem;
  padding-block: 2px;
  background-color: $VeryDarkBlue;
}

.data-bar {
  position: relative;

  $max-data: 1000;
  $used-data: 815;
  width: calc(100% * ($used-data / $max-data));
  height: 1.2rem;

  background: linear-gradient(to right, $GradientStart, $GradientEnd);

  &::after {
    display: block;
    content: "";
    height: calc(100% - 4px);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: $PaleBlue;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-2px, -50%);
  }
}

.data-bar-limits {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2.2rem;

  font-weight: 700;
  color: $PaleBlue;
}

.data-remaining-box {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);

  width: 18rem;
  padding: 1.8rem 1.8rem;
  border-radius: 0.8rem;
  background-color: $PaleBlue;

  text-align: center;

  &::after {
    display: none;

    position: absolute;
    content: "";
    width: 0;
    height: 0;

    bottom: 0;
    right: 0;
    transform: translateY(98%);

    border-top: 0.8rem solid $PaleBlue;
    border-right: 0.8rem solid $PaleBlue;
    border-left: 0.8rem solid transparent;
    border-bottom: 0.8rem solid transparent;
  }

  .gb {
    font-weight: 700;
    letter-spacing: 1px;
    color: $GrayishBlue;

    &__number {
      font-size: 4rem;
      color: $VeryDarkBlue;
    }
  }
}

@media (min-width: 64em) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    background-image: url(images/bg-desktop.png);
    background-size: contain;
    background-position: top 100% left 0;
  }

  .container {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 3.6rem;

    max-width: 96rem;
    width: 100%;
    min-height: max-content;
    margin-inline: auto;
    margin-bottom: 2.4rem;
  }

  .main {
    flex-basis: 53.4rem;
  }

  .header-main {
    flex: 1;
  }

  .section-data-stats {
    margin-bottom: 0;
  }

  .data-remaining-box {
    bottom: initial;
    left: initial;

    top: 0;
    right: 3.6rem;
    transform: translate(0, -65%);

    border-bottom-right-radius: 0;

    &::after {
      display: block;
    }
  }

  .header-data-stats {
    margin-top: 1.2rem;
    text-align: left;
  }

  .data-bar-limits {
    margin-bottom: 0;
  }
}
