:root {
  --purple-600: hsl(259, 100%, 65%);
  --purple-hsl-600: 259, 100%, 65%;
  --red-400: hsl(0, 100%, 67%);

  --white: hsl(0, 0%, 100%);
  --grey-50: hsl(0, 0%, 94%);
  --grey-200: hsl(0, 0%, 86%);
  --grey-600: hsl(0, 1%, 44%);
  --black: hsl(0, 0%, 8%);

  --ff: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button,
input,
input::placeholder {
  display: inline-block;

  font: inherit;
  border: none;
  background: none;
}

input[type="number"] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

button {
  cursor: pointer;
}

fieldset {
  border: none;
}

.sr-only {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
  visibility: collapse;
}

fieldset {
  all: unset;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--grey-50);

  font-family: var(--ff);
  color: var(--black);
}

.section-form-wrapper {
  padding: 8.8rem 1.6rem;
}

.section-form {
  padding: 4.8rem 2.4rem;
  border-radius: 2.4rem 2.4rem 10rem 2.4rem;
  background-color: var(--white);
}

.form-dob {
  display: flex;
  flex-direction: column;

  border-bottom: 2px solid var(--grey-50);

  &__btn {
    position: relative;
    align-self: center;

    width: 6.4rem;
    aspect-ratio: 1;
    padding: 1.8rem;
    border-radius: 50%;

    background-color: var(--purple-600);
    transform: translateY(50%);

    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 100%;

      background: url(/images/icon-arrow.svg) no-repeat center;
      background-size: contain;
    }
  }
}

.form-dob-fieldset {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 1.6rem;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 2px;

  color: var(--grey-600);
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 2px;

  &__input {
    padding: 1.2rem;
    border-radius: 0.8rem;
    border: 1px solid var(--grey-200);

    font-size: 2rem;
    font-weight: 700;
  }
}

.result-box {
  padding: 6.4rem 0 0;
}

.result-text {
  font-style: italic;
  font-size: 5.4rem;
  font-weight: 800;
  line-height: 1.15;

  &__number {
    font-size: 5.4rem;
    color: var(--purple-600);
  }
}
