// Primary
$Red: hsl(0, 100%, 67%);
$OrangeYellow: hsl(39, 100%, 56%);
$GreenTeal: hsl(166, 100%, 37%);
$CobaltBlue: hsl(234, 85%, 45%);

$bg-opacity: 0.05;

$LightRed: hsla(0, 100%, 67%, $bg-opacity);
$LightOrangeYellow: hsla(39, 100%, 56%, $bg-opacity);
$LightGreenTeal: hsla(166, 100%, 37%, $bg-opacity);
$LightCobaltBlue: hsla(234, 85%, 45%, $bg-opacity);

// Gradients
$LightSlateBlue: hsl(252, 100%, 67%);
$LightRoyalBlue: hsl(241, 81%, 54%);

$VioletBlue: hsla(256, 72%, 46%, 1);
$PersianBlue: hsla(241, 72%, 46%, 0);

// Neutral
$White: hsl(0, 0%, 100%);
$PaleBlue: hsl(221, 100%, 96%);
$LightLavender: hsl(241, 100%, 89%);
$DarkGrayBlue: hsl(224, 30%, 27%);

///////////////////////////////////

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Hanken Grotesk", sans-serif;
}

button {
  display: block;
  width: 100%;
  border: none;
  background: none;

  cursor: pointer;

  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

///////////////////////////////////

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;

  opacity: 0;
  pointer-events: none;
}

.result-card {
  --rad: 3.2rem;

  padding: 2.4rem 0;
  border-radius: 0 0 var(--rad) var(--rad);
}

.summary-item-card {
  padding: 1.6rem 1.4rem;
  border-radius: 0.6rem;

  background-color: var(--bg-clr);
  box-shadow: 0 0 4px 0px rgba($DarkGrayBlue, 0.1);

  &--red {
    --bg-clr: #{$LightRed};
    --clr: #{$Red};
    --icon-url: url("assets/images/icon-#{reaction}.svg");
  }

  &--orange {
    --bg-clr: #{$LightOrangeYellow};
    --clr: #{$OrangeYellow};
    --icon-url: url("assets/images/icon-#{memory}.svg");
  }

  &--green {
    --bg-clr: #{$LightGreenTeal};
    --clr: #{$GreenTeal};
    --icon-url: url("assets/images/icon-#{verbal}.svg");
  }

  &--violet {
    --bg-clr: #{$LightCobaltBlue};
    --clr: #{$CobaltBlue};
    --icon-url: url("assets/images/icon-#{visual}.svg");
  }
}

///////////////////////////////////

body {
  min-height: 100vh;
  color: $DarkGrayBlue;
}

.app-layout {
  display: grid;
}

.section-result-wrapper {
  background: linear-gradient(to bottom, $LightSlateBlue, $LightRoyalBlue);
}

.section-result {
  text-align: center;

  &__title {
    margin-bottom: 2.4rem;

    font-size: 1.8rem;
    color: $LightLavender;
  }

  &__feedback-heading {
    margin-bottom: 0.8rem;

    font-size: 2.4rem;
    font-weight: 700;
    color: $White;
  }
}

.result-box {
  max-width: 14rem;
  aspect-ratio: 1;
  margin: 0 auto 2.4rem;
  border-radius: 50%;

  background: linear-gradient(to bottom, $VioletBlue, $PersianBlue);

  &__score {
    padding-top: 2.4rem;

    font-size: 5.6rem;
    font-weight: 800;
    color: $White;
  }

  &__max-score {
    font-size: 1.6rem;
    color: $LightLavender;

    opacity: 0.75;
  }
}

.relative-score {
  margin-bottom: 1.4rem;
  padding-inline: 4.8rem;

  font-size: 1.6rem;
  color: $PaleBlue;
  opacity: 0.75;
}

.section-summary-wrapper {
  padding: 2.4rem 3.2rem;
}

.section-summary {
  &__title {
    margin-bottom: 2.4rem;
    font-size: 1.8rem;
  }
}

.summary-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  margin-bottom: 2.4rem;
}

.summary-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__type {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 1.6rem;
    font-weight: 700;
    color: var(--clr);

    &::before {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      content: "";

      background: var(--icon-url) no-repeat center;
      background-size: contain;
    }
  }

  &__max-score {
    color: rgba($DarkGrayBlue, 0.5);
  }
}

.btn {
  min-height: 5.6rem;
  border-radius: 1000px;

  background-color: $DarkGrayBlue;
  color: $PaleBlue;

  &:hover,
  &:focus {
    background-image: linear-gradient(
      to bottom,
      $LightSlateBlue,
      $LightRoyalBlue
    );
  }

  &:focus {
    outline: none;
  }
}

///////////////////////////////////

@media (min-width: 50em) {
  html {
    font-size: 75%;
  }

  .main {
    display: grid;
    place-content: center;
    min-height: 100vh;
  }

  .app-layout {
    grid-template-columns: 1fr 1fr;
    place-content: center;

    max-width: 62rem;
    margin-inline: auto;

    border-radius: 3.2rem;
    box-shadow: 0 0 0.8rem 2px rgba($DarkGrayBlue, 0.1);
  }

  .result-card {
    border-radius: var(--rad);
  }

  .section-summary,
  .section-result {
    min-height: 38rem;
  }

  .section-summary {
    padding-top: 0.8rem;

    &__title {
      font-size: 2rem;
    }
  }

  .summary-list {
    gap: 1.8rem;
    margin-bottom: 3.6rem;
  }

  .summary-list-item {
    padding-top: 1rem;
    padding-bottom: 0.8rem;
  }

  .section-result {
    padding-top: 1.2rem;
  }

  .result-box {
    max-width: 16rem;
    margin-bottom: 3.6rem;

    &__score {
      padding-top: 3.8rem;
    }
  }
}

///////////////////////////////////
