$Pink: hsl(322, 100%, 66%);
$VeryPaleCyan: hsl(193, 100%, 96%);
$VeryDarkCyan: hsl(192, 100%, 9%);
$GrayishBlue: hsl(208, 11%, 55%);

$pad-inline-body: 1.6rem;
$pad-section: 4.8rem 3.8rem;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: $VeryDarkCyan;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  display: inline-block;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

img {
  display: block;
  width: 100%;
}

%flex-center-v {
  display: flex;
  align-items: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

body {
  display: flow-root;
}

.header-main-wrapper {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: 2.4rem $pad-inline-body;
}

.header-main {
  @extend %flex-center-v;
  justify-content: space-between;
}

.header-main-logo {
  width: 10.4rem;
}

.header-main-actions {
  @extend %flex-center-v;
}

.link-action {
  &:link,
  &:active {
    border-radius: 1000px;
    box-shadow: 0 0 0.6rem 0 rgba($VeryDarkCyan, 0.2);

    font-weight: 700;
  }

  &--primary {
    &:link,
    &:active {
      padding: 1.2rem 6rem;
      background-color: $Pink;

      font-size: 1.2rem;
      color: $VeryPaleCyan;
    }
  }

  &--secondary {
    &:link,
    &:active {
      padding: 0.6rem 2.4rem;
      font-size: 1rem;
    }
  }
}

.section-hero-wrapper {
  padding: $pad-section;
  background-color: $VeryPaleCyan;

  background-image: url(images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 0 top 0px;
}

.section-hero {
  margin-top: 8rem;
  text-align: center;
}

.header-hero {
  margin-bottom: 3rem;

  &__title {
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
  }

  &__summary {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

.illustration-img {
  margin-top: 5.2rem;
}

.section-features-wrapper {
  padding: 4.6rem 2rem;
}

.article-feature {
  padding: 5.6rem 3.6rem 3.2rem;
  border-radius: 1.6rem;
  box-shadow: 0 0 1.2rem 0 rgba($VeryDarkCyan, 0.1);

  text-align: center;

  &:not(:last-child) {
    margin-bottom: 4.2rem;
  }

  &__img {
    // max-width: ;
    margin: 0 auto 5.6rem;
    padding-inline: 1.4rem;

    // height: 19.2rem;
    // width: auto;
  }
}

.header-feature {
  &__title {
    margin-bottom: 1.4rem;
    font-size: 2rem;
  }

  &__summary {
    font-size: 1.4rem;
    line-height: 1.5;
    color: $GrayishBlue;
  }
}

.section-cta-wrapper {
  padding: 2.4rem 1.2rem;
}

.section-cta {
  padding: 4.6rem 2.4rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.6rem 0 rgba($VeryDarkCyan, 0.1);

  text-align: center;
}

.header-cta {
  margin-bottom: 2.8rem;

  &__title {
    font-size: 1.75rem;
  }
}
